<div class="container">
    <div class="search">
        <input type="text" class="search-name" placeholder="Name..."/>

        <button id="searchName">
            <svg class="glass" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <circle cx="10" cy="10" r="7" />
                <line x1="21" y1="21" x2="15" y2="15" />
            </svg>
        </button>
    </div>

    <hr>

    <div class="filters">
        <select class="category-filter">
            <option value="0">Category...</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>

        <div class="price-filter">
            <input type="number" class="min-price" placeholder="Min price..."/>
            <br>to<br>
            <input type="number" class="max-price" placeholder="Max price..."/>
        </div>
    </div>

    <hr>

    <div class="actions">
        <button id="clearFilters">
            Clear filters
        </button>

        <button id="searchFilters">
            Search
        </button>
    </div>
</div>