@font-face{
    font-family: "Segoe UI Light";
    src: url("../../../assets/fonts/segoe-ui-light.ttf");
}

.container {
    position: absolute;
    width: calc(100vw - 20px);
    height: 100px;
    left: 10px;
    top: 10px;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    position: relative;
    left: 30px;
    font-family: "Segoe UI Light";
    font-size: 30px;
    color: black;
    text-align: left;
}

.cart {
    position: absolute;
    width: 80px;
    height: 80px;
    left: calc(100% - 110px);
    top: 10px;
    cursor: pointer;
}

.items {
    position: absolute;
    z-index: 1;
}

.icon-cart {
    position: absolute;
    width: 40px;
    height: auto;
    left: 20px;
    top: 20px;
}